@model SiteCoreLibraryTask.Models.AllModels

@{
    ViewData["Title"] = "Rental";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Rental List</h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Rental" asp-action="CreateRental" class="btn btn-primary">
                Create New Rental
            </a>
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <p>Rental List fetch implementaiton is pending. Create Rental check if the user registers or not.</p>
           
        </div>
    </div>

</div>
